body {
    font-family: Arial, Helvetica, sans-serif;
}    
h3 {
    width: 100%;
    max-width: 700px;
}
h1.top {
    border: 5px Solid #de8a49; 
    font-size: 40px;
    background-color: #de8a49;
    padding: 50px;
}