body {
    font-family: monospace;
    background-color: #222324;
    color: #9ea6ad;
  }
  h1 {
    font-size: 65px;
  }
  img.chillzeus {
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
  }
  img {
    width: 100%;
    max-width: 70px;
  }