body {
  background-color: #222324;
  font-family: Arial;
  color: White;
}
h2 {
  width: 100%;
  max-width: 800px;
}
.header {
  text-align: center;
  font-size: 50px;
  font-family: monospace
}
.github-profile-badge {
  padding: 20px;
  position: fixed;
}
#baseball-container {
  margin-top: 60px;
  padding: 30px;
  background-color: #303030;
}