body {
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    background-color: #282b29;
    color: #b3aea1;
    padding: 15px;
    }
    .head {
      font-size: 80px;
    }
    a {
      color: #74a39e;
    }
    a:hover {
      color: #6cd4c8;
    }
    hr {
      border: 1px Solid #6cd4c8
    }
    h3 {
      width: 100%;
      max-width: 800px;
    }
    