body{
    font-family: Arial;
  }
  .link1 {
    color: #34c0eb;
    font-size: 40px;
  }
  h3 {
    margin: 10px;
  }
  .commish {
    width: 95%;
    max-width: 700px;
  }
  .top {
    width: 100%;
    max-width: 500px;
  }
  .dad {
    width: 100%;
    max-width: 200px;
  }
  h3 {
    width: 100%;
    max-width: 1000px;
  }
  .schedule {
    width: 100%;
    max-width: 700px;
  }