body {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}
.header {
    width: 100%;
    display: flex;
    justify-content: column;
    justify-content: space-evenly;
    background-color: #1d2f6f;
    color: white;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo {
   max-width: 500px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
.whitnall {
    color: #fac748;
}
.hust {
    background-color: lightgrey;
    margin: 20px;
    padding: 15px;
    border: 3px Solid Black;
}
.sidebyside {
    display: flex;
    flex-direction: column;
}
.register {
    background-color: #1d2f6f;
    width: 100%;
    color: #fac748;
    padding: 5px; 
}
a {
    color: #fac748;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    display: flex;
    flex-direction: row;
}
.box1 {
    width: 25%;
    height: 200px;
    background-color: #fac748;
    flex-direction: column;
    justify-content: center;
}
.box2 {
  width: 25%;
  height: 200px;
  background-color: #1d2f6f;
}
.upthing {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin: 30px;
  background-color: white;
  border: 3px Solid Black;
  color: black;
}
.footer {
    background-color: #1d2f6f;
    color: white;
    padding: 20px;
}