body {
    font-family: 'Rubik', sans-serif;
}
.header {
    width: 100%;
    display: flex;
    justify-content: column;
    justify-content: space-evenly;
    background-color: #1d2f6f;
    color: white;
    align-items: center;
}
.logo {
    max-width: 500px;
}
.whitnall {
    color: #fac748;
}
.hust {
    background-color: lightgrey;
    margin: 20px;
    padding: 15px;
    border: 3px Solid Black;
}